*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/**   utility                     **/


.user_image{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    margin-left: 8px;
    background-position: center;
    
}


.font_s{
    font-size: 13px;
    color: gray;
}



.icon_s{
    font-size: 1.5rem;
}










/********************
struttura esterna 
*********************/
/*.container_1{
    width: 100vw;
    height: 100vh;
   
}*/
.container_top{
    height: 20px;
    width: 100%;
    background-color: rgba(0, 150, 136, 1);
    ;
}
.contain_1{
    width: 100vw; 
    height: 100vh;
    background-color: rgba(220, 219, 210, 1);
    border-top: 1rem solid rgba(0, 150, 136, 1);
    padding-bottom: 1rem;
    

}
.contain_middle{
    background-color: rgba(220, 219, 210, 1);
    width: 90%;
    height: 100%;
}

.contain_left, .contain_right{
    background-color:rgba(220, 219, 210, 1);
    width: 5%;
    height: 100%;
}
.fasce_div{
    background-color: rgba(0, 150, 136, 1);
    height: 80px;
    width: 100%;
}

/********************
struttura interna  
*********************/



.colon_left{
    background-color: white;
    width: 40%;
    height: 100%;
}
.colon_right{
    width: 60%;
    height: 100%;
    background-image: url("../img/mine.jpg");
}

/********************
    lato utenti  
*********************/


/*****              mini nav        ***********/
.mini_nav_user{
    height: 80px;
    background-color: rgba(234, 234, 234, 1);
    border-right: 2px solid rgb(221, 221, 221);
}
.mini_nav_user_icons{
    width: 40%;
    color:rgba(177, 177, 177, 1);
}
/**************************************/
.notifica{
    width: 100%;
    height: 100px;
    background-color: rgba(142, 218, 252, 1);
}
.notifica .allert{
    
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.notifica i{
    color: rgba(142, 218, 252, 1);
    padding: 1rem;
}
.text_notifica a{
    color: gray;
}

/***************************************/
.search_chatt{
    padding-left: 2rem;
    border: 10px solid rgba(250, 250, 250, 1);
    width: 100%;
    height: 70px;
    
}
.mini_nav_input>i{
    left: 15px;
    top: 25px;
    font-size: 20px;
}
i>span{
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 2rem;
}
/******************************************/


/*****              utenti              *******/
.gruppo_utenti{
    width: 100%;
    height: calc(100% - 250px);
    overflow: auto;
}
.utenti{
    height: 100px;
    padding: 1rem ;
    border-top:3px solid rgba(250, 250, 250, 1);
}

.utenti h4{
    margin-left: 2rem;
}


/********************
    lato chatt  
*********************/

.nav_chatt, .input_chatt{
    width: 100%;
    height: 80px;
    background-color: rgba(234, 234, 234, 1);

}
.nav_chatt_left>p{

    
}
.nav_chatt_left .nav_chatt_rigth{
    width: calc(100% /2);

}
.nav_chatt_rigth, i{
    padding: 0 1rem;
    color:rgb(104, 103, 103);
}
.input_chatt_middle>input{
    width: 440px;
    height: 53px;
    border-radius: 10px;
    border-style: none;
}
.input_chatt_middle>p{
    font-size: 15px;
    padding-left: 2rem;
    left: 15px;
    top: 15px;
    color: gray;
    border-style: none;
}